.searchInput {
  border: 0.1rem solid #8b9096;
  border-radius: 5rem;
  min-width: 55rem;
  padding: 1.1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.icon_2 {
  color: #8b9096;
  font-size: 2rem;
}
.searchInput > input {
  background: none;
  border: none;
  width: 90%;
  color: var(--white);
  font-size: 1.6rem;
  font-family: inherit;
  margin: 0 1.5rem;
}
.alert {
  border: 0.1rem solid red;
}
