.searchNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: relative;
}
.left {
  display: flex;
  align-items: center;
}
.left > a > img {
  max-width: 10rem;
  margin-right: 5rem;
}
.Input {
  background: #303134;
  border: none;
}
.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 2.5rem;
  color: var(--white);
}
.icon:nth-last-child(2) {
  margin: 0 1rem;
}
.user {
  max-width: 4rem;
  height: 4rem;
}
.user > img {
  width: 100%;
  height: 100%;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem 19rem 1rem 19rem;
  border-bottom: 0.1rem solid #3c4043;
}
.menuLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 1.4rem;
}
.menuLink:not(:last-child) {
  margin-right: 1.5rem;
}
.icon_2 {
  margin-right: 0.5rem;
}
.result {
  color: #aaa;
  font-size: 1.35rem;
  padding: 1rem 19rem;
}
.linksContainer {
  padding: 1rem 19rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 1002px) {
  .linksContainer {
    padding: 1rem 5rem 1rem 19rem;
  }
}
@media screen and (max-width: 920px) {
  .btnContainer {
    display: none;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 1rem 19rem;
    border-bottom: 0.1rem solid #3c4043;
  }
}
@media screen and (max-width: 768px) {
  .left {
    flex-direction: column;
  }
  .left > a > img {
    margin-right: 0rem;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid #3c4043;
    padding: 0 0 1rem 0;
  }
  .result {
    padding: 1rem 5rem;
  }
  .linksContainer {
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
@media screen and (max-width: 425px) {
  .result {
    padding: 1rem 3rem;
  }
  .linksContainer {
    padding: 1rem 3rem;
  }
}
@media screen and (max-width: 375px) {
  .linksContainer {
    padding: 1rem 2rem;
  }
  .result {
    padding: 1rem 2rem;
  }
  .searchNavbar {
    padding: 1rem 1rem;
  }
}
@media screen and (max-width: 345px) {
  .menuLink:last-child {
    display: none;
  }
}
